{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>survivors</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

<body>

    <div class="hero">
        <div class="navbar">
            <a href="{% url 'home' %}"><img class="logo" src="{% static 'images/logoo.png' %}" alt=""></a>




        </div>
        <div class="sharks">
            <img src="{% static 'images/shark1.png' %}" class="f1">
            <img src="{% static 'images/shark2.png '%}" class="f2">
            <img src="{% static 'images/fish.png' %}" class="f3">
            <img src="{% static 'images/fish.png' %}" class="f4">
            <img src="{% static 'images/shark2.png' %}" class="f5">

        </div>

        <div class="side-bar">
            <img src="{% static 'images/menu.png' %}" alt="" class="menu">
            <div class="social-links">
                <img src="{% static 'images/fb.png' %}">
                <img src="{% static 'images/tw.png' %}">
                <img src="{% static 'images/ig.png' %}">
            </div>
            <div class="useful-links">
                <a href="{% url 'home' %}"> <img src="{% static 'images/home-icon.png' %}"></a>
                <a href="{% url 'draw' %}"> <img src="{% static 'images/drawing.jpg' %}"></a>

            </div>
        </div>

        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Survivor Name</th>
                        <th>Score</th>
                        <th>Date</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>ahmed</td>
                        <td>90%</td>
                        <td>3-1-2022</td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>ali</td>
                        <td>99%</td>
                        <td>25-9-2022</td>

                    </tr>
                    <tr>
                        <td>3</td>
                        <td>hosam</td>
                        <td>88%</td>
                        <td>1-10-2022</td>

                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Cell 2</td>
                        <td>Cell 3</td>
                        <td>Cell 4</td>

                    </tr>

                </tbody>
            </table>
        </div>












    </div>
</body>

</html>